<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<httpRuntime targetFramework="4.0" />-->
    <httpRuntime requestValidationMode="2.0" />
  </system.web>
    <system.webServer>
        <staticContent>
            <!--<mimeMap fileExtension=".json" mimeType="applicacion/x-javascript" />-->
        </staticContent>
        <directoryBrowse enabled="false" />
    </system.webServer>
  <connectionStrings>
    <add name="sqlconnection" connectionString="Data Source=.;Initial Catalog=txd;Enlist=true;Pooling=true;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300;User ID=sa;Password='123';packet size=1000" />
  </connectionStrings>
</configuration>